html, body {
  background-color: yellow;
  font-family: 'Fredoka One', cursive;
}

nav {
  background-color: #3B40FA;
}

.pikachu {
  margin: 10px;
}

.navbar-brand {
  margin: 10px 20px;
  font-size: 30px;
}

ul {
  list-style-type: none;
  text-align: center;
}

.btn {
  display: inline-block;
  border: 1px solid black;
  background-color: #26e245;
  font-size: 16px;
  font-family: 'Fredoka One', cursive;
  color: black;
  margin: 5px auto;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  width: 500px;
  transition-duration: 0.2s;
}

.btn:hover, .btn:focus {
  text-decoration: underline;
  background-color: orange;
}

.modal-title {
  text-align: center;
  text-transform: uppercase;
}

.modal-body {
    background-color: #fff;
}

.modal-body img {
  display: block;
  margin: auto;
  width: 40%;
}

.modal-header {
  background-color: red;
}

.about {
  margin-left: 40px;
  margin-right: 40px;
}
